@import "../../scss/abstracts";

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: color(var(--background-color));
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  justify-self: start;
  cursor: pointer;
  border: none;
  font-family: inherit;

  &:disabled {
    background-color: color(var(--text-color-accent));
    cursor: default;
  }

  &--cta {
    background-color: color(var(--primary-color));
    color: color(var(--background-color));
  }

  &--light {
    background-color: color(var(--secondary-color));
    color: color(var(--background-color));
  }
}