@import "../../scss/abstracts";

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: color(var(--background-color));
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 1rem;

  &--cta {
    background-color: color(var(--primary-color));
    color: color(var(--background-color));
  }

  &--light {
    background-color: color(var(--secondary-color));
    color: color(var(--background-color));
  }
}