@import "../../../scss/abstracts";

.card {
  font-size: 1.6rem;
  background-color: color(var(--background-color));
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  color: color(var(--text-color));
  border: 1px solid color(var(--text-color));

  &__heading {
    font-size: 2.2rem;
    font-family: var(--header-font);
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 3rem;
  }

  &__icon {
    justify-self: end;
    font-size: 3.5rem;
    color: color(var(--primary-color));
    padding: 1rem;
  }

  &__bold {
    color: color(var(--primary-color));
    font-size: 1.8rem;
  }

  &__work-with {
    list-style: none;
  }
}