@import "../../scss/abstracts";

.about {
  background-color: color(var(--background-color));
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: 3fr 1.3fr;
  column-gap: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-largest) {
    column-gap: 10rem;
  }

  @media only screen and (max-width: $bp-medium) {
    column-gap: 5rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column-gap: 5rem;
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  &__information {
    grid-column: 1 / 2;
  }

  &__name {
    font-family: var(--header-font);
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__photo {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    object-fit: cover;
    border-radius: 4rem;

    @media only screen and (max-width: $bp-medium) {
      height: auto;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / 3;
      width: 60%;
      justify-self: center;
    }
  }
}