@import "../../scss/abstracts";

.nav {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: color(var(--background-color));

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }

  &__name {
    flex-grow: 1;
    font-family: var(--header-font);
    font-weight: bold;
  }

  &__links {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }

    :not(:last-child) {
      @media only screen and (max-width: $bp-smallest) {
        margin-bottom: 1rem;
      }
    }

    li {
      display: flex;
      align-items: center;
    }
  }

  &__link:link, &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: color(var(--text-color));
    font-size: 1.8rem;
    padding: .5rem 1rem;
    @include underline();
  }
}