@import "../../scss/abstracts";

.footer {
  grid-column: full-start / full-end;
  background-color: color(var(--secondary-color));

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}