@import "../../scss/abstracts";

.footer {
  grid-column: full-start / full-end;
  background-color: color(var(--secondary-color));
  color: color(var(--background-color));
  text-shadow: 1px 1px 1px color(var(--text-color));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;

  &__switch {
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}