// Colors
:root {
  --primary-color: #28A5AE;
  --secondary-color: #71B7BE;
  --background-color: #F4F2F6;
  --text-color: #2D292B;
  --text-color-accent: #717A6B;
}

// Fonts
$display-font: 'Source Sans Pro', sans-serif;
$header-font: 'Open Sans', sans-serif;