@import 'scss/abstracts';
@import 'scss/button';
@import 'scss/typography';

.App {
  background-color: color(var(--background-color));
  display: grid;
  grid-template-rows: 6rem calc(90vh - 6rem) repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr)
                          [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
                          minmax(6rem, 1fr) [full-end];

  & > * {
    padding: 3rem;
    font-size: 3rem;
  }
}