@import "./scss/abstracts";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--display-font);
  color: var(--text-color);
  //background-color: color(var(--background-color));
}