:root {
  --primary-color: 40, 165, 174;
  --secondary-color: 113, 183, 190;
  --background-color: 224, 242, 246;
  --text-color: 45, 41, 43;
  --text-color-accent: 113, 122, 107;

  --display-font: 'Source Sans Pro', sans-serif;
  --header-font: 'Open Sans', sans-serif;
}

$bp-largest: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 43.75em; // 700px
$bp-smallest: 37.25em; // 600px

@function color($var) {
  @return rgba($var, 1);
}

@mixin underline {
  position: relative;

  &::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: color(var(--text-color));
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}