.heading--1 {
  font-size: 6rem;
  font-family: var(--header-font);
  color: color(var(--background-color));
}

.heading--3 {
  font-size: 3rem;
  font-family: var(--header-font);
  font-weight: 300;
  color: color(var(--background-color));
}