@import "./abstracts";

.heading--1 {
  font-size: 6rem;
  font-family: var(--header-font);
  color: color(var(--background-color));
  margin-left: -.2rem;
}

.heading--2 {
  font-family: var(--header-font);
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: color(var(--text-color));
  font-weight: bold;
  //font-weight: 300;
}

.heading--3 {
  font-size: 3rem;
  font-family: var(--header-font);

  &--light {
    font-weight: 300;
    color: color(var(--background-color));
  }

  &--dark {
    font-weight: bold;
    color: color(var(--text-color));
  }
}