:root {
  --primary-color: 40, 165, 174;
  --secondary-color: 113, 183, 190;
  --background-color: 224, 242, 246;
  --text-color: 45, 41, 43;
  --text-color-accent: 113, 122, 107;

  --display-font: 'Source Sans Pro', sans-serif;
  --header-font: 'Open Sans', sans-serif;
}