.heading--1 {
  font-size: 6rem;
  font-family: var(--header-font);
  color: rgba(var(--background-color), 1);
}

.heading--3 {
  font-size: 3rem;
  font-family: var(--header-font);
  font-weight: 300;
  color: rgba(var(--background-color), 1);
}